body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #f1faee;
    margin: 0;
    color: #023047;
    gap: 5pt;
}

header {
  padding: 20px;
  background-color: #a8dadc;
}

section {
  padding: 0px 20px;
}

button {
  border: 2px solid #da627d;
  border-radius: 12px;
  background-color: #ffa5ab;
  padding: 5px;
  margin-bottom: 10px;
  display: block;
}

button:hover {
  color: white;
  background-color: #da627d;
}

button:active {
  transform: scale(0.97);
  background-color: darkred;
  color: white;
}

.q_nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.q_dot {
  border: 1px solid #da627d;
  border-radius: 5px;
  padding: 5pt;
}